body{
	display: flex;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	font-family: sans-serif;
}

.mainContainer{
	border-collapse: collapse;
	border-radius: 15px;
	background-color: whitesmoke;
	width: 25%;
	height: 450px;
}
h1{
	height: 1px;
}
input{
	height: 20px;
	width: 80%;
	border: 1px solid;
	margin: 10px;
	border-radius: 5px;
	border-color: grey;
}

select{
	border-collapse: collapse;
	font-size: 20px;
	margin: 5px;

	width: 80%;
}

button{
	font-size: 20px;
	color: white;
	background: rosybrown;
	border: 1px;
	margin: 1px;
	height: 30px;
	width: 80%;
	border-radius: 5px;
	margin: 5px;

}

button:hover{
	background-color: sandybrown;
}

#result{
	height: 20px;
	margin-top: 30px;
}